{% if message.is_system_message %}
  <div class="flex justify-center my-4">
    <div class="badge badge-soft">{{ message.activity }}</div>
  </div>
{% else %}
  {% if message.sender == request.user %}
    <div class="chat chat-end">
      <div class="chat-bubble">{{ message.body }}</div>

      <div class="chat-footer text-xs opacity-60">{{ message.created_at|date:'g:i A' }}</div>
    </div>
  {% else %}
    <div class="chat chat-start">
      <div class="chat-image avatar">
        <div class="w-10 rounded-full">
          {% if message.sender.profile.profile_picture %}
            <img src="{{ message.sender.profile.profile_picture.url }}" />
          {% else %}
            <img src="https://ui-avatars.com/api/?name={{ message.sender.username }}" />
          {% endif %}
        </div>
      </div>

      <div class="chat-header">
        {{ message.sender.username }}
        <time class="text-xs opacity-50 ml-2">{{ message.send_at|date:'g:i A' }}</time>
      </div>

      <div class="chat-bubble">{{ message.body }}</div>
    </div>
  {% endif %}
{% endif %}
