<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl sm:text-3xl font-bold">{{ section|title }} Near {{ place.name }}</h2>

  <a href="{% url 'place_section_list' place.pk section %}" class="link link-primary">View all</a>
</div>

{% if places %}
  <div class="grid gap-3 sm:gap-6 grid-cols-2 lg:grid-cols-4">
    {% for near_place in places %}
      {% include 'rides/partials/place_card.html' with nearby_place=near_place %}
    {% endfor %}
  </div>
{% else %}
  <div class="hero bg-base-200 rounded-2xl">
    <div class="hero-content py-10 sm:py-16 px-4 text-center">
      <div class="text-center">
        <h2 class="text-lg sm:text-2xl font-bold">No places found</h2>
      </div>
    </div>
  </div>
{% endif %}
