<form method="GET" class="w-full max-w-3xl" id="trip-search-form" hx-get="{% url 'trip_list' %}" hx-target=".trip-results" hx-swap="innerHTML" hx-trigger="input delay:500ms" hx-include="#filter-form" hx-push-url="true">
  <div class="w-full max-w-3xl">
    <div class="search-bar">
      <div class="sf max-w-full" id="sf-from-wrap">
        <div class="sf-label">From</div>
        <input class="sf-input" id="sf-from" type="text" placeholder="Leaving from…" autocomplete="off" name="origin" />
        <div class="suggestions" id="sugg-from"></div>
      </div>

      <div class="sf max-w-full" id="sf-to-wrap">
        <div class="sf-label">To</div>
        <input class="sf-input" id="sf-to" type="text" placeholder="Going to…" autocomplete="off" name="destination" />
        <div class="suggestions" id="sugg-to"></div>
      </div>

      <div class="sf max-w-full">
        <div class="sf-label">Date</div>
        <input class="sf-input" type="date" id="sf-date" name="departure" />
      </div>

      <button class="sf hover:bg-(--card2)!" type="button" style="border-right: 0;  border-radius: 0 16px 16px 0;">Search</button>

      <label for="trip-filters" class="btn drawer-button bg-(--card) h-full lg:hidden hover:bg-(--card2)! flex flex-col justify-center p-5" style="border-right: 0;  border-radius: 0 16px 16px 0;">Filters</label>
    </div>
  </div>
  <div class="flex justify-center gap-2 mt-4">
    <label><input type="checkbox" name="nearby" value="" class="peer hidden" onclick="getLocation(this)" /><span class="btn btn-sm rounded-2xl peer-checked:bg-(--blue)">Nearby</span></label>
    <input type="hidden" name="lat" id="lat" value="" />
    <input type="hidden" name="lon" id="lon" value="" />

    <div class="flex gap-2">
      {% for tag in popular_tags %}
        <label><input type="checkbox" name="tag" value="{{ tag }}" class="peer hidden" /><span class="btn btn-sm rounded-2xl peer-checked:bg-(--blue)">{{ tag|title }}</span></label>
      {% endfor %}
    </div>
  </div>
</form>
