{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    
    <style>
        :root {
  --bg:      #F9F9F9;
  --surface: #0F1326;
  --card:    #F9F9F9;
  --card2:   #F7F5F2;
  --blue:    #4F8EFF;
  --blue-dim: rgba(79,142,255,0.12);
  --blue-border: rgba(79,142,255,0.18);
  --blue-border2: rgba(79,142,255,0.35);
  --text:    #000000;
  --muted:   #2C3947;
  --muted2:  #2C3947;
  --black:   #0F0E0E;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Plus Jakarta Sans', sans-serif;
  min-height: 100vh;
}

    </style>

   {% block style %} {% endblock %}

  </head>
  <body>
 <div class="navbar bg-(--card) shadow-sm px-4">
    <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="{% url 'home' %}">
            trippd
        </a>
    </div>

    <div class="navbar-end gap-2">
        <a class="btn btn-ghost" href="{% url 'trip_list' %}">
            Find Trip
        </a>

        <details class="dropdown dropdown-end">
            <summary class="btn btn-ghost">
                {% if user.is_authenticated and user.profile.profile_picture %}
                    <div class="avatar">
                        <div class="w-10 rounded-full ring ring-(--blue) ring-offset-2">
                            <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
                        </div>
                    </div>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                {% endif %}
            </summary>

            <ul class="menu dropdown-content bg-base-100 rounded-box z-10 mt-2 w-40 p-2 shadow">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
</svg>
Profile</a></li>

<li> <a href="{% url 'create_trip' %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
Create Trip</a></li>

              <li>
    <a href="#"
       onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-6">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Logout
    </a>

    <form id="logout-form"
          action="{% url 'logout' %}"
          method="post"
          class="hidden">
        {% csrf_token %}
    </form>
</li>

                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </details>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
       <div class="alert alert-success flex justify-between items-center" id="alerting-message">
    <span>{{ message }}</span>

    <button
        type="button"
        onclick="this.parentElement.remove()"
        class="btn btn-ghost btn-xs">
        ✕
    </button>
</div>

      {% else %}
        <div class="alert alert-error flex justify-between items-center" id="alerting-message">
    <span>{{ message }}</span>
    <button
        type="button"
        onclick="this.parentElement.remove()"
        class="btn btn-ghost btn-xs">
        ✕
    </button>
</div>
      
      {% endif %}
      
    


    {% endfor %}
{% endif %}
    
    {% block content %}

    
    
    
    {% endblock %}

    <script>
        setTimeout(() => {
            const alert = document.getElementById('alerting-message');
            if (alert) {
                alert.remove();
            }
        }, 5000);
    </script>
  </body>
</html>