{% extends 'rides/base.html' %}
{% load static %}


{% block content %}
    <h2 class="bg-blue-500 text-white p-4 w-full h-full">Welcome to the Home Page</h2>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        {% else %}
            <p>Please log in to access more features.</p>
        <div class="login">
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>

            <a href="{% url 'signup' %}" class="btn btn-secondary">Signup</a>

        </div>
        {% endif %}
    
{% endblock %}